language: java
cache:
  directories:
    - "$HOME/.cache"
before_install:
  - echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import
  - echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust
deploy:
  provider: script
  script: "cp .travis.settings.xml $HOME/.m2/settings.xml &&
           cd onfido-java &&
           mvn deploy -P release"
  skip_cleanup: true
  on:
    branch: master
    tags: true
