# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Publish package to the Maven Central Repository

on:
  workflow_dispatch
    
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - id: install-secret-key
        name: Install gpg secret key
        run: |
          echo "$GPG_KEY" > key.asc
          gpg --import --no-tty --batch --yes key.asc
        shell: bash
        env:
          GPG_KEY: ${{secrets.GPG_SECRET_KEY}}
      - name: Publish package
        run: |
          mvn install &&
          cd onfido-java &&
          mvn clean deploy --settings ../.maven.xml -Prelease -Dgpg.passphrase=$GPG_PASSPHRASE
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
